name: Python package

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install .[dev]
    - name: Lint
      run: flake8
    - name: Build
      run: python3 -m build --sdist --wheel
    - name: Test
      run: |
        if [ "${{ matrix.python-version }}" = "3.12" ]; then
          export COVERAGE_CORE=sysmon
        fi
        pytest
    - name: Doc gen
      # something is wrong with pydoc-markdown on 3.8 and 3.9 - complaining about some missing
      # packages, but they are available. The same code works on 3.10 and up
      if: ${{ (matrix.python-version != 3.8) && (matrix.python-version != 3.9) }}
      run: ./gendoc.sh
